{% extends 'blog/basic.html' %}

{% block title %} {{blog.name}} {% endblock %}

{% block css %} {% endblock %}

{% block body %}
{% load static %}

<body style="background-color:pearl; background-size:100%;background-repeat:no-repeat">
    <div class="container my-4">
    <div class="row my-5">
    <div class="col-md-3">
    <div class="row mx-5">
       <h1 class="my-4">{{blog.name}}</h1>
    </div>
    <div class="row mx-5">
    <h5 class="mb-1 text-muted">{{blog.timestamp}}</h5>
        </div><br>
        <div style="padding:20px" class="fb-like" data-href="http://127.0.0.1:8000/blog/blogview/{{blog.blog_id}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div></div>
       <div class="col-md-8 my-4">
        <p>{{blog.message}}</p>
        <br><br>
        <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/blogview/{{blog.blog_id}}" data-width="" data-numposts="5"></div><br>
        
    </div>
        </div>
    
</div>
<br>
<hr width="1200px" style="height:1px; border:none; color:grey; background-color:grey">
<br>
</body>


{% endblock %}