{% extends 'blog/basic.html' %}

{% block title %} Related Posts {% endblock %}

{% block css %}
  {% endblock %}
body{

{% block body %}
<body style="background-image:linear-gradient(lightyellow,pink);background-attachment:fixed">
{% load static %}
<div class="container"><br><br>
    <h3><i>Search Results :</i> </h3>
    <div class="row mb-2 my-5">
    {% for i in allBlogs %}
        <div class="col-md-5 mx-1">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0 my-2">{{i.name}}</h3>
              <div class="mb-1 text-muted">{{i.time}}</div>
              <p class="card-text mb-auto">{{i.message|slice:'0:200'}}...</p>
              <a href="/blog/blogview/{{i.blog_id}}" class="stretched-link my-3">Continue reading...</a>
            </div>
          </div>
        </div>
{% endfor %}
    </div>
</div>
</body>
{% endblock %}

{% block js %}
<script>
    {% if msg|length != 0 %}
    alert('{{msg}}');
    window.location.href="/blog/"
    {%endif%}
</script>
{% endblock %}